@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary : #FA7436;
  --secondary : #c2410c;
  --third : #F7F8FC;
}


@layer base {
    button {
    @apply bg-[var(--primary)] border-2 border-[var(--primary)] px-6 py-2 rounded-lg hover:bg-transparent transition duration-300 cursor-pointer;
  }
}
